@import "tailwindcss";


:root {
  --text: #171717;
  --slides: #dbac70;
  --button-bg: #a0947b;
  --navbar-bg: #a6a8a3;
  --main-hover-color: #91938f;
  --foreground: #171717;
  --img: url('/zetong-li-Uu1MoLHczCo-unsplash.webp');
  --gradient: linear-gradient(180deg, #a6a8a3 0%, #eedabe 100%);
  --background-overlay: rgba(166,168,163,0.5);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.gradient-bg {
  background: var(--gradient);
}

  .dark {
    --text: white;
    --slides: #5c3019;
    --button-bg: #7b4f2e;
    --foreground: #ededed;
    --navbar-bg: #1a2615;
    --main-hover-color: #151f11;
    --img: url('/suhyeon-choi-HCDugQDdtfc-unsplash.webp');
    --gradient: linear-gradient(180deg, #1a2615 0%, #5f7657 100%);
    --background-overlay: rgba(26,38,21,0.5);
  }

.body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.top-btn-position {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.top-btn-style {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.top-btn-style:hover {
  background-color: var(--main-hover-color);
  transform: scale(1.05); 
  box-shadow: 0 0 10px var(--main-hover-color); 
  
}

.gallery-btn:hover {
  background-color: #10170d;
}

.wrapper {
  display: inline-flex;
}

.wrapper .static-text {
  font-size: 60px;
}

#myButton {
       padding: 26px 17px; 
       transition: all 0.3s ease;
   }

   #myButton:hover {
       background-color: var(--main-hover-color); 
       color: white;
       transform: scale(1.05); 
       box-shadow: 0 0 10px var(--main-hover-color); 
   }

#myProjectButton {
      background: var(--button-bg);
       padding: 0px 0px 0px 0px;
       transition: all 0.3s ease;
   }

   #myProjectButton:hover {
       background-color: var(--slides); 
       color: white;
       transform: scale(1.05); 
       box-shadow: 0 0 10px var(--slides); 
   }

#myContactButton {
       padding: 15px 30px 15px 0px; 
       transition: all 0.3s ease;
       border-radius: 20px;
   }

   #myContactButton:hover {
       background-color: var(--button-bg); 
       color: white;
       transform: scale(1.05); 
       box-shadow: 0 0 10px var(--button-bg); 
   }

#myGalleryButton {
       padding: 5px 5px 5px 5px; 
       transition: all 0.3s ease;
       border-radius: 20px;
   }

  #myGalleryButton:hover {
       background-color: var(--main-hover-color); 
       transform: scale(1.05); 
       box-shadow: 0 0 10px var(--main-hover-color); 
   }

#image-style {
  transition: all 0.3s ease;
}

  #image-style:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px var(--button-bg);
  }